<form id="loginForm" action="/login" method="post">
  <div class="field-body">
    <div class="field nav-item is-tab">
      <p class="control is-expanded">
        <input class="input" type="email" name="email" placeholder="Email">
      </p>
    </div>
    <div class="field nav-item is-tab">
      <p class="control is-expanded">
        <input class="input" type="password" name="password" placeholder="Password">
      </p>
      <input type="submit" style="display: none">
    </div>
    <a id="loginSubmit" class="nav-item is-tab" href="javascript:void(0)">Log In</a>
  </div>
</form>
