<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete modalClose"></button>
    </header>
    <section class="modal-card-body">
<%# form starts here %>
<form action="/register">
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="text" name="name" placeholder="Screen name">
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="email" name="email" placeholder="Email">
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" name="password" placeholder="Password">
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" name="passwordConf" placeholder="Confirm password">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button type="submit" class="button is-success">
        Login
      </button>
      <a class="button modalClose">Cancel</a>
    </p>
  </div>
</form>
<%# form ends here %>
    </section>
  </div>
</div>
