<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/main.css">

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <%# <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>%>

  <script src="/js/client.js" charset="utf-8"></script>

</head>
<body>

  <header>
    <%- include ./partials/nav %>
    <% if (locals.message) { %>
      <div class="notification">
        <p><%= message %></p>
        <button class="deleteNotification delete"></button>
      </div>
    <% } %>
    <div class="notification hidden">
      <p>alert</p>
      <button class="deleteNotification delete"></button>
    </div>
  </header>
  <main>
    <%- body %>
    <%- include ./partials/registerModal %>
  </main>
  <footer>
    <section class="hero is-primary foot">
      <div class="hero-body">
        <div class="container">
          <h2 class="Subtitle">
            Made by Louis Boyle at General Assembly
          </h2>
        </div>
      </div>
    </section>
  </footer>
</body>
</html>
