<h1>Homepage</h1>
<hr>

<%# <div class="users"><h4>Users</h4></div><hr>%>

<div class="artists">
  <h4>Artists</h4>

</div>
<hr>

<div class="venues">
  <h4>Venues</h4>

</div>
<hr>

<div class="events">
  <h4>Events</h4>

</div>
<hr>
