<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Search for Artists, Events or Venues
      </h1><br>
      <form class="mainSearch">
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select>
                <option>Artists</option>
                <option>Events</option>
                <option>Venues</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Search">
          </p>
          <p class="control">
            <a class="button" id="searchSubmit" style="color:black">Search</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="hero hidden searchResultsParent">
  <div class="hero-body">
    <button id="searchClose" class="delete" style="float: right"></button>
    <div class="container columns is-multiline searchResults">

    </div>
    <hr>
  </div>
</section>

<section class="hero users is-warning usersSection">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse Users
      </h1>
      <a class="button users is-warning usersSectionBtn" style="margin-top: 0; border: 1px solid black">Expand</a>
    </div>
  </div>
</section>
<section class="hero usersList hidden">
</section>

<section class="hero dropSection">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Top Artists
      </h1>
      <a class="button attractions attractionsBtn dropSectionBtn" style="margin-top: 0">Expand</a>
    </div>
  </div>
</section>
<section class="hero is-medium attractionsList">
</section>
<hr>

<section class="hero dropSection">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Top Venues
      </h1>
      <a class="button venues venuesBtn dropSectionBtn" style="margin-top: 0">Expand</a>
    </div>
  </div>
</section>
<section class="hero is-medium venuesList">
</section>
<hr>

<section class="hero dropSection">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Top Events
      </h1>
      <a class="button events eventsBtn dropSectionBtn" style="margin-top: 0">Expand</a>
    </div>
  </div>
</section>
<section class="hero is-medium eventsList">
</section>
<hr>

<script type="text/javascript">
$(() => {
  // prevent default and retrieve query from search form
  $('#searchSubmit').on('click', (e) => {
    e.preventDefault();
    $('.mainSearch').submit();
  });
  $('#searchClose').on('click', (e) => {
    e.preventDefault();
    if ($('.oneResult').length > 0) $('.oneResult').remove();
    $('.searchResultsParent').slideToggle('fast').addClass('hidden');
  });
  //////////////// here begins the search stuff
  // so I decided to use the work 'artist' and exclude Sports
  // however TicktMaster uses 'attraction', this became a problem
  $('.mainSearch').on('submit', (e) => {
    e.preventDefault();
    if ($('.oneResult').length > 0) $('.oneResult').remove(); // delete old results
    const query = $('.mainSearch').find('input').val();
    let searchType = $('select').val().toLowerCase().substring(0, $('select').val().length-1);
    if (searchType === 'artist') searchType = 'attraction'; // i did it here first
    $.get(`https://app.ticketmaster.com/discovery/v2/${searchType+'s'}.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn&keyword=${query}`)
    .done(results => {
      results._embedded[searchType+'s'].forEach(object => {
        let imgUrl = '';
        if (object.images) imgUrl = object.images[0].url;
        if (searchType === 'attraction') searchType = 'artist';
        const oneResult = `
<div class="card column is-4">
  <header class="card-header">
    <p class="card-header-title">
      ${object.name}
    </p>

  </header>
  <footer class="card-footer">
    <a class="card-footer-item" href="/${searchType}/${object.id}">View page</a>
    <a class="card-footer-item" href="/favourite/${searchType}/${object.id}">Add to favourites</a>
  </footer>
</div>
        `;
        $(oneResult).appendTo('.searchResults');
      });
    })
    .fail(err => {
      console.log('Error retrieving results: '+err);
    });
    if ($('.searchResultsParent').hasClass('hidden')) {
      $('.searchResultsParent').slideToggle('fast').removeClass('hidden');
    }
  });//////////////// end of search stuff
  function getData(keyString) {
    $.get(`https://app.ticketmaster.com/discovery/v2/${keyString+'s'}.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn`)
    .done(objects => {
      objects = objects._embedded[keyString+'s'].map(object => {
        if (object.clasifications) {
          if (object.classifications[0].segment.name !== 'Sports') return object;
        } else if (object.name !== 'DEMO ORGANISATION') return object;
      }).filter(object => {
        return object !== undefined;
      });
      createList(objects, keyString);
    });
  } // this is the dry version of this function

  function dropSection() {
    $('.dropSectionBtn').on('click', function(e) {
      $(this).addClass('is-loading');
      const keyString = this.classList[1].substring(0, this.classList[1].length-1);
      if ($(`.${keyString+'s'}Item`).length === 0) {
        getData(`${keyString}`);
        $(`.${keyString+'s'}List`).slideToggle('fast');
      } else {
        $(`.${keyString+'s'}List`).slideToggle('fast');
      $(`.${keyString+'s'}Btn`).removeClass('is-loading');}
    });
  } // shortened click event

  function createList(objectList, keyString) {
    let parentString = `<div class="${keyString+'s'}Item">
        <div class="columns is-multiline">`;
    if (keyString === 'attraction') keyString = 'artist'; // yep
    objectList.forEach(object => {
      parentString +=
      `
<div class="card column is-4">
  <header class="card-header">
    <p class="card-header-title">
      ${object.name}
    </p>

  </header>
  <footer class="card-footer">
    <a class="card-footer-item" href="/${keyString}/${object.id}">View page</a>
    <a class="card-footer-item">Something else</a>
  </footer>
</div>
      `;
    });
    parentString += '</div></div>';
    if (keyString === 'artist') keyString = 'attraction'; // yep
    $(parentString).appendTo(`.${keyString+'s'}List`);
    $(`.${keyString+'s'}List`).slideToggle('fast');
    $(`.${keyString+'s'}Btn`).removeClass('is-loading');
  }

  function usersSection() {
    $('.usersSectionBtn').on('click', function() {
      $('.usersSectionBtn').addClass('is-loading');
      if ($(`.usersItem`).length === 0) {
        $.get('/show/users')
        .done(users => {
          console.log(users);
          let parentString = `<div class="hero-body usersItem">
              <div class="columns is-multiline">`;
          users.forEach(user => {
            parentString +=
            `
<div class="card column is-4">
  <header class="card-header">
    <p class="card-header-title">
      ${user.username}
    </p>

  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a>@bulmaio</a>. <a>#css</a> <a>#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" href="/profile/${user.id}">View page</a>
    <a class="card-footer-item">Message</a>
  </footer>
</div>
            `;
          });
          parentString += '</div></div><hr>';
          console.log(parentString);
          $(parentString).appendTo(`.usersList`);
          $(`.usersList`).slideToggle('fast');
          $('.usersSectionBtn').removeClass('is-loading');
        })
        .fail(err => {
          console.log('Error getting users: '+err);
        });
      } else $(`.usersList`).slideToggle('fast');
      $('.usersSectionBtn').removeClass('is-loading');
    });
  }

  dropSection();
  usersSection();
});
</script>
