<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Homepage
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>
</section>

<div class="artists">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Artists
        </h1>
        <h2 class="subtitle">
          Subtitle
        </h2>
      </div>
    </div>
  </section>

</div>
<hr>

<div class="venues">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Venues
        </h1>
        <h2 class="subtitle">
          Subtitle
        </h2>
      </div>
    </div>
  </section>

</div>
<hr>

<div class="events">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Events
        </h1>
        <h2 class="subtitle">
          Subtitle
        </h2>
      </div>
    </div>
  </section>

</div>
<hr>

<script type="text/javascript">
$(() => {
  function homePageItems() {
    $
    .get('https://app.ticketmaster.com/discovery/v2/attractions.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn&locale=en-us&size=60')
    .done(artists => {
      artists = artists._embedded.attractions.map(artist => {
        if (artist.classifications[0].segment.name !== 'Sports') {
          return artist;
        }
      }).filter(artist => {
        return artist !== undefined;
      });
      createList(artists, 'artist');
      clickTitle(artists, 'artist');
    });

    $
    .get('https://app.ticketmaster.com/discovery/v2/venues.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn&countryCode=GB')
    .done(venues => {
      venues = venues._embedded.venues.map(venue => {
        if (venue.name !== 'DEMO ORGANISATION') {
          return venue;
        }
      }).filter(venue => {
        return venue !== undefined;
      });
      createList(venues, 'venue');
      clickTitle(venues, 'venue');
    });

    $
    .get('https://app.ticketmaster.com/discovery/v2/events.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn&marketId=201')
    .done(events => {
      events = events._embedded.events.map(event => {
        if (event.name !== 'DEMO EVENT') {
          return event;
        }
      }).filter(event => {
        return event !== undefined;
      });
      createList(events, 'event');
      clickTitle(events, 'event');
    });

    function clickTitle(objectList, keyString) {
      $(`.${keyString+'s'}`).on('click', () => {
        $(`.${keyString+'s'}List`).slideToggle('fast');
      });
    }

    function createList(objectList, keyString) {
      let parentString = `<section class="hero is-primary is-medium ${keyString+'s'}List hidden">
        <div class="hero-body">
          <div class="columns">`;
      objectList.forEach(object => {
        parentString +=
        `<div class="column is-4">
          <h1 class="title">
            ${object.name}
          </h1>
          <h2 class="subtitle">
            <p><a href="/${keyString}/${object.id}">View page</a></p>
          </h2>
        </div>`;
      });
      parentString += '</div></div></section>';
      $(parentString).appendTo(`.${keyString+'s'}`);
    }
  }
  homePageItems();
});
</script>
