@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  font-family: 'Raleway', sans-serif;
}
div, .nav-menu {
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  transition: all linear .2s;
}
.card {
  -webkit-transition: all linear 0s;
  -moz-transition: all linear 0s;
  transition: all linear 0s;
}
.hidden {
  display: none;
}
p.control, .deleteForm {
  text-align: center;
  margin: auto;
  max-width: 90%;
}
.columns {
  margin: 0 20px;
}
.foot {
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .card {
    width: 100% !important;
  }
}
