<% if(artist) { %>
  <section class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title"><%= artist.name %></h1>
        </div>
        <div class="column is-6">
          <a href="#">Save to your favourites</a>
        </div>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <img src="<%= artist.images[0].url %>" alt="<%= artist.name %>">
        </div>
      </div>
    </div>
  </section>


<% }else{ %>
  <h4>No artist found</h4>
<% } %>
